body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	position: relative;
	background-color: black;
}

#canvasContainer {
	position: absolute;
	top: 60%;
	transform: translateY(-60%);
	z-index: 1;
}

canvas {
	border: 1px solid #000;
	image-rendering: pixelated;
}


#tab {
	width: 200px;
	margin-top: 1400px;
	background-color:#330066;
	margin-bottom: 100px;
	text-align: center;
	color :white;
	font-family: verdana;
}

th {
	 width: 100px;
}

#winners {
	margin-top: 1100px;
	position:absolute;
	transform: translateY(-55%);
	text-align:center;
	margin-right:5%;

}


#imageContainer {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-30%);
	z-index: 2;
}

#imageContainer img {
  width: 50%;
  height: auto;
}